<div class="jumbotron">
    <h1 class="display-4">New York Times Articles</h1>
</div>
<button type="button" class="btn btn-primary">Primary</button>
<div id="wrapper">
    <div id="articles"></div>
    <div id="notes"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>